In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
import plotly.express as px
import plotly.graph_objects as go
import warnings 
#Use to import the file into google Colab drive
from google.colab import files
#Use to import io, which opens the file from the Colab drive
import io

In [33]:
# This will open a widget when run that will enable you to browse the files on your local storage drive.
uploaded = files.upload()

Saving KPMG_Customer_Demographic.csv to KPMG_Customer_Demographic (1).csv

In [34]:
uploaded2 = files.upload()

Saving KPMG_Customer_Address.csv to KPMG_Customer_Address (1).csv

In [35]:
uploaded3 = files.upload()

Saving KPMG_Transactions.csv to KPMG_Transactions (1).csv

In [36]:
cus_demo = pd.read_csv(io.BytesIO(uploaded['KPMG_Customer_Demographic.csv']))

In [37]:
cus_add = pd.read_csv(io.BytesIO(uploaded2['KPMG_Customer_Address.csv']))

In [38]:
trans = pd.read_csv(io.BytesIO(uploaded3['KPMG_Transactions.csv']))

In [39]:
cus_demo.head(3)

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ... Unnamed: 12
0                                        customer_id                                                                                                                             ...      tenure
1                                                  1                                                                                                                             ...          11
2                                                  2                                                                                                                             ...          16

[3 rows x 13 columns]

In [40]:
cus_add.head(3)

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ...          Unnamed: 5
0                                        customer_id                                                                                                                             ...  property_valuation
1                                                  1                                                                                                                             ...                  10
2                                                  2                                                                                                                             ...                  10

[3 rows x 6 columns]

In [41]:
trans.head(3)

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ...       Unnamed: 14
0                                     transaction_id                                                                                                                             ...  Profit_Margin(%)
1                                                  2                                                                                                                             ...           537.76%
2                                                  5                                                                                                                             ...           248.82%

[3 rows x 15 columns]

In [42]:
##change column name of all three dataset.
cus_demo2 = cus_demo.rename(columns=cus_demo.iloc[0])  
cus_demo2.head(3)

   customer_id  first_name  last_name  ...  deceased_indicator  owns_car  tenure
0  customer_id  first_name  last_name  ...  deceased_indicator  owns_car  tenure
1            1     Laraine  Medendorp  ...                   N       Yes      11
2            2         Eli    Bockman  ...                   N       Yes      16

[3 rows x 13 columns]

In [43]:
cus_add2 = cus_add.rename(columns=cus_add.iloc[0]) 
cus_add2.head(3)

   customer_id              address  ...    country  property_valuation
0  customer_id              address  ...    country  property_valuation
1            1   060 Morning Avenue  ...  Australia                  10
2            2  6 Meadow Vale Court  ...  Australia                  10

[3 rows x 6 columns]

In [44]:
trans2 = trans.rename(columns=trans.iloc[0])
trans2.head(3)

   transaction_id  product_id  ...     Profit  Profit_Margin(%)
0  transaction_id  product_id  ...     Profit  Profit_Margin(%)
1               2           3  ...  $1,702.55           537.76%
2               5          78  ...  $1,055.82           248.82%

[3 rows x 15 columns]

In [45]:
##Now, remove first row of all three dataset.
cus_demo3 = cus_demo2.iloc[1:,]
cus_demo3.head(2)

  customer_id first_name  last_name  ... deceased_indicator owns_car tenure
1           1    Laraine  Medendorp  ...                  N      Yes     11
2           2        Eli    Bockman  ...                  N      Yes     16

[2 rows x 13 columns]

In [46]:
cus_add3 = cus_add2.iloc[1:,]
cus_add3.head(2)

  customer_id              address postcode state    country property_valuation
1           1   060 Morning Avenue     2016   NSW  Australia                 10
2           2  6 Meadow Vale Court     2153   NSW  Australia                 10

In [47]:
trans3 = trans2.iloc[1:,]
trans3.head(2)

  transaction_id product_id  ...     Profit Profit_Margin(%)
1              2          3  ...  $1,702.55          537.76%
2              5         78  ...  $1,055.82          248.82%

[2 rows x 15 columns]

In [48]:
cus_demo3["Age"].value_counts()

42.5    33
42.6    28
42.2    24
42.7    23
39.8    23
        ..
25.0     1
18.3     1
64.7     1
63.6     1
38.0     1
Name: Age, Length: 489, dtype: int64

In [49]:
##Which gender purchase more bikes.
cus_demo3["gender"].value_counts()

Female    1770
Male      1643
Name: gender, dtype: int64

In [50]:
##Which states has more number of bike customers.
cus_add3["state"].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [51]:
cus_demo3["job_industry_category"].value_counts()

Manufacturing         695
Financial Services    682
Health                542
Retail                304
Property              231
IT                    126
Entertainment         122
Argiculture            99
Telecommunications     61
Name: job_industry_category, dtype: int64

In [52]:
##FInd customers of which wealth segment purchase more bikes.
cus_demo3["wealth_segment"].value_counts()

Mass Customer        1694
High Net Worth        871
Affluent Customer     848
Name: wealth_segment, dtype: int64

In [53]:
##change categorical value into numeric i.e Female & Male to 0 & 1.
pd.get_dummies(cus_demo3, columns=["gender"]).head()

  customer_id      first_name  last_name  ... tenure gender_Female gender_Male
1           1         Laraine  Medendorp  ...     11             1           0
2           2             Eli    Bockman  ...     16             0           1
3           3           Arlin     Dearle  ...     15             0           1
4           5  Sheila-kathryn     Calton  ...      8             1           0
5           8             Rod      Inder  ...      7             0           1

[5 rows x 14 columns]

In [60]:
##Find how many customer who owns car purchases bikes.
cus_demo3["owns_car"].value_counts()

Yes    1732
No     1681
Name: owns_car, dtype: int64

In [62]:
##Find brand of bike is more in demand.
trans3['brand'].value_counts()

Solex             2021
Giant Bicycles    1627
WeareA2B          1607
OHM Cycles        1543
Trek Bicycles     1439
Norco Bicycles    1405
Name: brand, dtype: int64

In [63]:
##Find which size of bike is most purchased in market.
trans3["product_size"].value_counts()

medium    6337
large     1900
small     1405
Name: product_size, dtype: int64

In [65]:
cus_demo3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 1 to 3413
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3413 non-null   object
 1   first_name                           3413 non-null   object
 2   last_name                            3308 non-null   object
 3   gender                               3413 non-null   object
 4   past_3_years_bike_related_purchases  3413 non-null   object
 5   DOB                                  3413 non-null   object
 6   Age                                  3413 non-null   object
 7   job_title                            3413 non-null   object
 8   job_industry_category                2862 non-null   object
 9   wealth_segment                       3413 non-null   object
 10  deceased_indicator                   3413 non-null   object
 11  owns_car                             3413 non-null   object
 12  tenure                               3413 non-null   object
dtypes: object(13)
memory usage: 346.8+ KB